<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BRBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BRBuilder.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDataModel" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDatabaseType" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ProviderString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>temp</value>
            </setting>
        </BRBuilder.Properties.Settings>
    </userSettings>
</configuration>